POSTGRES_DB=example_postgres_db
POSTGRES_USER=example_postgres_user
POSTGRES_PASSWORD=example_postgres_password
POSTGRES_HOST=y-money-db-1
ALLOWED_HOSTS=localhost,other.host
DJANGO_SECRET_KEY=exaple_django_secret_key
DEBUG=False