<!-- y_money/templates/partials/navbar.html -->
{% load static %}
{% load static %}

<nav class="navbar navbar-expand-lg navbar-light bg-light">
  <div class="container-fluid">
    <a class="navbar-brand d-flex align-items-center" href="#">
      <img src="{% static 'images/y_money_logo.png' %}" height="50" alt="" />
      <span class="mx-2 mb-0 fw-bold h4">Y-money</span>
    </a>

    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNavDropdown" aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation"><span class="navbar-toggler-icon"></span></button>

    <div class="collapse navbar-collapse" id="navbarNavDropdown">
      <ul class="navbar-nav ms-auto">
        <li class="nav-item">
          <a class="nav-link active" aria-current="page" href="/home">Panel główny</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="/revenues-and-expenses">Wpływy i Wydatki</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="/my-finances">Moje finanse</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="/goals">Cele</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="/friends">Znajomi</a>
        </li>
      </ul>
    </div>
  </div>
</nav>
