<!-- y_money/templates/partials/navbar.html -->
{% load static %}

<nav class="navbar navbar-expand-lg navbar-light bg-light">
    <a class="navbar-brand" href="#">
        <img src="{% static 'images/y_money_logo.png' %}" height="30" alt="">
    </a>    
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavDropdown" aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNavDropdown">
      <ul class="navbar-nav">
        <li class="nav-item active">
          <a class="nav-link" href="/">Panel główny<span class="sr-only">(current)</span></a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="/revenues-and-expenses">Wpływy i Wydatki</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="/my-finances">Moje finanse</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="/goals">Cele</a>
        </li>
        
      </ul>
    </div>
  </nav>