{% if pending_requests %}
    <div class="pending-list">
        {% for request in pending_requests %}
        <div class="friend-item">
            <div class="friend-info">
                <div class="avatar">
                    {{ request.from_profile.user.first_name|first|default:request.from_profile.user.username|first|upper }}
                </div>
                <div>
                    <div class="friend-name">
                        {{ request.from_profile.user.get_full_name|default:request.from_profile.user.username }}
                    </div>
                    <div class="friend-username">
                        @{{ request.from_profile.user.username }}
                    </div>
                </div>
            </div>
            <div>
                <button class="btn btn-accept" data-request-id="{{ request.id }}">
                    Akceptuj
                </button>
                <button class="btn btn-reject" data-request-id="{{ request.id }}">
                    Odrzuć
                </button>
            </div>
        </div>
        {% endfor %}
    </div>
{% else %}
    <p class="empty-message">Brak oczekujących zaproszeń</p>
{% endif %}